/* This is a comment */
body {
    background-color: brown;
}

#tiles {
    background-color: gold;
    display: grid;
    
    /* 7 Reihen, je 100px groß */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);

    /* 7 * 100px = 700px
       6 *  10px =  70px 
       (Größe der Blöcke + Größe der Abstände zwischen den Blöcken)
    */
    width: 760px;
    
    /* Abstand zwischen den Blöcken 10px */
    gap: 10px;
    
    /* Abstand Ränder */
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1 / 1;
}

/*==========================*/
/* Blöcke                   */
/*==========================*/
.block {
    background-color: gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
}

.tile1x1 {   
    grid-column: span 1;
    grid-row: span 1;
    background-color: aliceblue;
}

.tile3x2{
    grid-column: span 3;
    grid-row: span 2;
    background-color: blue;
}

.tile4x1 {
    grid-column: span 4;
    grid-row: span 1;
    background-color: antiquewhite;
}

.tile2x2 {  
    grid-column: span 2;
    grid-row: span 2;
    background-color: aqua;
}

.tile4x7 {  
    grid-column: span 4;
    grid-row: span 7;
    background-color: aquamarine;
}

/*==========================*/
/* Footer                   */
/*==========================*/


footer {
    background-color: green;
    width: min(90%, 760px);
    margin: 10px auto;
}