<!DOCTYPE html>
<html data-lt-installed="true"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>homepage.html</title>
    <link rel="stylesheet" href="generic.css">
    <meta charset="UTF-8">
</head>


<body>
    <div id="tiles">
        <div class="block tile3x2">1</div>
        <div class="block tile4x7">2</div>
        <div class="block tile3x2">5</div>
        <div class="block tile3x2">8</div>
        <div class="block tile1x1">9</div>
        <div class="block tile1x1">10</div>
        <div class="block tile1x1">11</div>
        <br>
    </div>
    <footer>footer1</footer>
    <footer>footer2</footer>
</body>



</html>