body {
    background-color: #2e3440;
}

#tiles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: min(90%, 755px);
    aspect-ratio: 1 / 1;
    margin: 1em auto;
    margin-bottom: 1px; /* Place Footer Correctly */
    margin-top: 10px;
}

.tile {
    background-color: #5e81ac;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Definitionen der Größen der Kacheln HxL */
.tile1x1 {
    grid-row: span 1;
    grid-column: span 1;
}

.tile2x3 {
    grid-row: span 2;
    grid-column: span 3;
}

.tile4x7 {
    grid-row: span 7;
    grid-column: span 4;
}

/* Put tile 3 underneath tile 1 */
.tile2x3:nth-child(3) {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}